Helpful Information/
.vscode/
work/
*.vcd
*.ppt#
*.doc#
*.mti
*.mpf
*.vscode
*.qdb
*.qtl
*.qpg
*.wlf
*.vstf
*.qdb
*.pptx#
*.cdb
*.hdb
*.qsf
*.qws
*.sci
*.ddb
*.rdb
*.idb
*.cmp*
*.qbf
*.logb
*.map*
*.nvd
*.xml
*.qbf
*.qmsg
*.vpr*
*_info
*.vo
*.lpc*
*.rpt
*.summary
*.smsg
*.qpf
*.done
*.pin
*.sld
*.sof
*.vscode
*.sft
*.hif
*.smart_action*
*.piranha*
*.jdi
*.vscode
*.tdb
*.flock
Quartus/